.grid {
    text-align: center;
    font-size: 0;
}

.title {
    font-family: 'Concert One', cursive;
    font-size: 48px;
    text-align: center;
    color:cornflowerblue;
}
.square{
    width: 5vw;
    height: 0px;
    background-color: white;
    outline: 1px solid rgba(144, 175, 175, 0.75);
    display: inline-block;
    position: relative;
    padding-bottom: 5%;
}

.square:hover {
    outline: 1px solid red;
}

.App {
    text-align: center;
}

ul {
    list-style: none;
    font-weight: bold;
}
.labels{
    width: 5vw;
    height: 0px;
    background-color: white;
    display: inline-block;
    position: relative;
    padding-bottom: 5%;
}

.grid{
    font-size: 0;
}
.container{
    position:absolute;
    bottom:0px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 15px;
}

.container2{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 15px;
    left: 50%
}

img {
    width: 50px;
    height: 50px;
}

li {
    display: inline-block;
    float: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li:hover {
    background-color: #f5e7e7;
}

.journalEntry {
    font-weight: bold;
}

textarea {
    outline: none;
    resize: none;
    width: 600px;
    height: 100px;
}

.spacing {
    padding-top: 20px;
    padding-bottom: 20px;
}
footer {
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ececec;
}

/* Colors */
#happy{color: #ff8ce0;}
#calm{color: #8cdcff;}
#angry{color: #ff2d2d;}
#surprised{color: #ffc72D;}
#sadness{color: #2d4bff;}
#disgust{color: #0f851a;}
#fear{color:#7832C1;}
#sleepy{color: #6f88ba;}
#excited{color:#ff8731;}
#drained{color:#8964a0;}
happy.square{background-color:#ff8ce0;}
calm.square{background-color: #8cdcff;}
angry.square{background-color: #ff2d2d;}
surprised.square{background-color: #ffc72D;}
sadness.square{background-color: #2d4bff;}
disgust.square{background-color: #0f851a;}
fear.square{background-color: #7832C1;}
sleepy.square{background-color: #6f88ba;}
excited.square{background-color: #ff8731;}
drained.square{background-color: #8964a0;}