.square{
    width: 5vw;
    height: 0px;
    background-color: white;
    outline: 1px solid rgba(144, 175, 175, 0.75);
    display: inline-block;
    position: relative;
    padding-bottom: 5%
}
.grid{
    font-size: 0;
}
.title{
    font-family: 'Concert One', cursive;
    font-size: 48px;
    text-align: center;
    color:cornflowerblue;
}
body{
    text-align: center;
}
blocked.square{
    background-color: rgba(144, 175, 175, 0.75);
}
happy.square{
    background-color:#ff8ce0;
}
calm.square{
    background-color: #8cdcff;
}
angry.square{
    background-color:  #ff2d2d;
}
surprised.square{
    background-color: #ffc72D;
}
sadness.square{
    background-color: #2d4bff;
}
disgust.square{
    background-color: #0f851a;
}
fear.square{
    background-color: #7832C1;
}
sleepy.square{
    background-color: #6f88ba;
}
excited.square{
    background-color: #ff8731;
}
drained.square{
    background-color: #8964a0;
}